.hmintro {
  padding-top: 60px;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

/* Navigation */
.topnav {
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

nav .menubar {
  position: fixed;
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-sizing: border-box;
  background-color: #2d3748;
  box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.3);
  /* Logo */
  /* Icons */
}
@media screen and (max-width: 767px) {
  nav .menubar {
    height: 60px;
    padding: 0 20px;
  }
}
nav .menubar .home {
  font-size: 20px;
  font-weight: 600;
  color: #c05c7e;
  transition: all 0.4s ease;
}
nav .menubar .home:hover {
  opacity: 0.5;
}
nav .menubar .icons {
  display: flex;
  /* Icon Menu Hamburguer */
  /* Secondary Icons */
}
nav .menubar .icons .icon-menu {
  display: flex;
  width: 30px;
  height: 30px;
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  /* Icon Close */
}
nav .menubar .icons .icon-menu span {
  background-color: #ffffff;
  width: 30px;
  height: 3px;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  transition: all 0.2s ease;
  right: 0;
  border-radius: 5px;
}
nav .menubar .icons .icon-menu span:before,
nav .menubar .icons .icon-menu span:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 5px;
}
nav .menubar .icons .icon-menu span:before {
  transform: translateY(-10px);
  transition: all 0.3s 0.1s ease;
}
nav .menubar .icons .icon-menu span:after {
  transform: translateY(10px);
  transition: all 0.3s 0.2s ease;
}
nav .menubar .icons .icon-menu:hover span {
  width: 30px;
}
nav .menubar .icons .icon-menu:hover span:before {
  width: 25px;
}
nav .menubar .icons .icon-menu:hover span:after {
  width: 20px;
}
nav .menubar .icons .icon-menu.icon-closed {
  justify-content: center;
}
nav .menubar .icons .icon-menu.icon-closed span {
  background-color: white;
  justify-content: center;
  width: 0px;
  right: initial;
  opacity: 0.5;
  transition: all 0.6s ease;
}
nav .menubar .icons .icon-menu.icon-closed span:before,
nav .menubar .icons .icon-menu.icon-closed span:after {
  width: 30px;
  background-color: white;
}
nav .menubar .icons .icon-menu.icon-closed span:before {
  transform: rotate(45deg);
}
nav .menubar .icons .icon-menu.icon-closed span:after {
  transform: rotate(-45deg);
}
nav .menubar .icons .icon-menu.icon-closed:hover span {
  width: 0;
  opacity: 1;
}
@media screen and (max-width: 767px) {
  nav .menubar .icons .icon-menu.icon-closed:hover span:before {
    transform: rotate(45deg);
  }
  nav .menubar .icons .icon-menu.icon-closed:hover span:after {
    transform: rotate(-45deg);
  }
}
nav .menubar .icons .secondary-icons {
  display: flex;
  flex-wrap: wrap;
}
nav .menubar .icons .secondary-icons .icon-second {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 5px;
}
@media screen and (max-width: 767px) {
  nav .menubar .icons .secondary-icons .icon-second {
    margin: 0 5px;
  }
}
nav .menubar .icons .secondary-icons .icon-second:last-child {
  margin-right: 30px;
}
@media screen and (max-width: 767px) {
  nav .menubar .icons .secondary-icons .icon-second:last-child {
    margin-right: 15px;
  }
}
nav .menubar .icons .secondary-icons .icon-second:hover {
  transform: translateY(-5px);
  opacity: 0.5;
}
@media screen and (max-width: 767px) {
  nav .menubar .icons .secondary-icons .icon-second:hover {
    transform: translateY(0px);
    opacity: 1;
  }
}
nav .menu {
  display: none;
  /* Open Menu */
  /* Animation - Close */
}
nav .menu.open {
  display: flex;
  z-index: 3;
  overflow: hidden;
  /* Menu Open - Main Link */
}
nav .menu.open li {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.4s ease-in-out;
  animation: menu 0.6s ease forwards;
  height: 100vh;
  position: relative;
  /* Main Link - text */
  /* Sub Menu */
  /* Menu Links - Hover */
}
@keyframes menu {
  0% {
    height: 0;
    transform: translatey(-50%);
  }
  100% {
    height: 100vh;
    transform: translatey(0%);
  }
}
nav .menu.open li:nth-child(1) {
  background-color: #2d3561;
  animation-duration: 0.6s;
}
nav .menu.open li:nth-child(2) {
  background-color: #c05c7e;
  animation-duration: 0.8s;
}
nav .menu.open li:nth-child(3) {
  background-color: #f3826f;
  animation-duration: 1s;
}
nav .menu.open li:nth-child(4) {
  background-color: #ffb961;
  animation-duration: 1.2s;
}
nav .menu.open li:nth-child(4) {
  background-color: #ff6161;
  animation-duration: 1.4s;
}
nav .menu.open li a {
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 40px;
  opacity: 0.8;
  width: 100%;
  height: 20%;
  letter-spacing: 5px;
  transform: rotate(-90deg) translateX(0px);
  transition: all 0.4s 0.2s ease-in-out, letter-spacing 0.2s ease-in,
    opacity 0.2s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform-origin: center;
  animation: text-in 0.6s ease;
  position: absolute;
}
@media screen and (max-width: 767px) {
  nav .menu.open li a {
    transform: rotate(0deg);
    font-size: 30px;
  }
}
@keyframes text-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}
nav .menu.open li a .icon {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  opacity: 0;
  transform: translateY(0px);
  transition: all 0.4s ease-in-out;
  background-image: url("https://rafaelalucas91.github.io/assets/icons/white/icon-54.svg");
}
@media screen and (max-width: 767px) {
  nav .menu.open li a .icon {
    opacity: 0.5;
    transform: translateY(40px);
  }
}
nav .menu.open li .submenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
  box-sizing: border-box;
  opacity: 0;
  z-index: -1;
  transition: all 0.6s ease-in-out;
  height: 0%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  bottom: 0;
  transform: translateY(50%);
  position: absolute;
}
@media screen and (max-width: 767px) {
  nav .menu.open li .submenu {
    padding: 0 5%;
  }
}
nav .menu.open li .submenu .sub-item {
  display: none;
  margin: 10px 0;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  width: fit-content;
  cursor: pointer;
  padding: 5px 15px;
}
@media screen and (max-width: 767px) {
  nav .menu.open li .submenu .sub-item {
    font-size: 16px;
  }
}
nav .menu.open li .submenu .sub-item:after {
  content: "";
  height: 0%;
  width: 3px;
  background-color: white;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  transition: height 0.4s 0.3s ease, width 0.4s ease;
}
nav .menu.open li .submenu .sub-item:hover:after {
  width: 100%;
  height: 100%;
  transition: height 0.4s ease, width 0.4s 0.3s ease;
}
nav .menu.open li:hover {
  width: 50%;
  transition: all 0.4s ease-in-out;
  /* When Click to Open Sub Menu */
}
nav .menu.open li:hover a {
  height: 50%;
  transform: rotate(0deg) translateX(0px);
  font-size: 30px;
  opacity: 1;
  letter-spacing: 10px;
}
nav .menu.open li:hover a .icon {
  opacity: 1;
  transform: translateY(40px);
  transition: all 0.3s 0.4s ease-in-out;
}
@media screen and (max-width: 767px) {
  nav .menu.open li:hover a {
    width: 100%;
    font-size: 30px;
    opacity: 0.3;
    letter-spacing: 5px;
  }
}
@media screen and (max-width: 767px) {
  nav .menu.open li:hover.active {
    height: 80vh;
  }
}
nav .menu.open li:hover.active a {
  transform: rotate(0deg) translateX(0px) translateY(-50%);
  transform-origin: center center;
  transition: all 0.6s ease-in-out;
}
@media screen and (max-width: 767px) {
  nav .menu.open li:hover.active a {
    height: 20%;
    transform: translateY(-180%);
  }
}
nav .menu.open li:hover.active a .icon {
  transition: all 0.3s ease-in-out;
  transform: translateY(40px) rotate(-180deg);
}
nav .menu.open li:hover.active .submenu {
  transform: translateY(0);
  height: 50%;
  z-index: 1;
  opacity: 1;
  bottom: 0;
}
@media screen and (max-width: 767px) {
  nav .menu.open li:hover.active .submenu {
    height: 70%;
  }
}
nav .menu.open li:hover.active .submenu .sub-item {
  display: flex;
  animation: submenu 1s ease forwards;
  z-index: 2;
}
@keyframes submenu {
  0% {
    transform: translatex(50px) rotate(5-deg);
    opacity: 0;
  }
  50% {
    transform: translatex(50px) rotate(-5deg);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translatex(0px) rotate(0deg);
  }
}
nav .menu.open li:hover.active .submenu .sub-item:nth-child(1) {
  animation-duration: 1s;
}
nav .menu.open li:hover.active .submenu .sub-item:nth-child(2) {
  animation-duration: 1.2s;
}
nav .menu.open li:hover.active .submenu .sub-item:nth-child(3) {
  animation-duration: 1.4s;
}
@media screen and (max-width: 767px) {
  nav .menu.open li {
    width: 100%;
    height: 25%;
    animation: menu-mobile 0.6s ease forwards;
    transform: translatey(0%);
    right: 0;
  }
  @keyframes menu-mobile {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  nav .menu.open li:hover {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  nav .menu.open {
    height: 100vh;
    flex-direction: column;
  }
}
nav .menu.close li {
  animation: menu-close 1s ease forwards;
}
@keyframes menu-close {
  0% {
    height: 100vh;
  }
  100% {
    height: 0;
  }
}
nav .menu.close li a {
  animation: text-out 0.6s ease forwards;
}
@keyframes text-out {
  0% {
    opacity: 0.3;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* CUSTOM STYLES */
.footwrap {
  padding: 15px 0;
}
.logo {
  text-align: center;
  display: inline block;
  padding: 10px 0;
}
.logo img {
  height: 30px;
}
.footwrap nav ul {
  padding: 12px 0;
  text-align: center;
}
.footwrap nav ul a {
  font-weight: 600;
  display: inline-block;
  padding: 8px 5px;
  font-size: 1rem;
}

ul.social {
  padding: 10px 0;
  margin: 0;
  overflow: hidden;
}
ul.social img {
  padding-right: 8px;
  width: 35px;
  height: 35px;
  transition: all 0.3s;
}
ul.social li {
  display: inline-block;
  list-style: none;
}

nav.footnav ul li {
  padding: 0 0.5rem !important;
}

.pagination {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pagination .page-numbers {
  border-radius: 3px;
  font-weight: bold;
  background: #01579b;
  color: #fff;
  display: inline-block;
  width: auto;
  margin: 4px 4px 4px 0;
  padding: 12px 18px;
  text-decoration: none;
}

.pagination .page-numbers:hover {
  background: #1d2a36;
  color: #fff;
  text-decoration: none;
}

.pagination .current {
  background: #1d2a36;
  color: #fff;
  padding: 12px 18px;
}

.nf-form-fields-required {
  display: none;
}
.nf-field-element {
  overflow: hidden;
}
select,
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  background-color: #fff !important;
  color: #111111 !important;
  border: 1px solid #9c9c9c !important;
  border-radius: 3px !important;
  color: #111111 !important;
}
.nf-response-msg {
  padding: 20px;
  text-align: center;
  font-size: 18px;
}
/* .nf-form-content input:not([type="button"]) {
  color: #111111 !important;
  border: 1px solid #686868 !important;
} */
#nf-field-4 {
  background-color: #bb2525 !important;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 25px;
  padding-left: 25px;
}
.nf-field-container {
  margin-bottom: 18px !important;
}
::placeholder {
  /* font-weight: bold !important; */
  color: #1f1f1f !important;
}

/* Custom select */

.cust-options {
  color: #111111;
  border-radius: 3px;
  margin: 8px 0;
  display: block;
  width: 100%;
  position: relative;
  font-family: Arial;
}

.cust-options select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #fff;
  border-radius: 3px;
  margin: 8px 0;
  padding: 10px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 16px;
  right: 16px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-color: #e53e3e transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #e53e3e transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div {
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  color: #fff;
  background-color: #e53e3e;
  /* background-color: rgba(0, 0, 0, 0.1); */
}
